.new-card{
  background:white;
  width: calc(85% -15px);
  height: 165px;
  display: inline-flex;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding: 40px 40px 40px 0;
  border: solid 0px transparent;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
  -webkit-transition-property: color, background-color, box-shadow, -webkit-transform;
  transition-property: color, background-color, box-shadow, -webkit-transform;
  transition-property: color, background-color, box-shadow, transform;
  transition-property: color, background-color, box-shadow, transform, -webkit-transform;
  -webkit-transition-duration: .15s;
  transition-duration: .15s;
}
.new-card:hover {
  color: #32325d!important;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  box-shadow: 0 18px 35px rgba(50, 50, 93, .1), 0 8px 15px rgba(0, 0, 0, .07);
}

.new-card div {
  padding-left: 35px;
  padding-right: 38px;
}

@media (min-width: 992px) and (max-width: 1200px){ /*Para monitores md*/
  .new-card div {
    padding-left: 35px;
    padding-right: 0px;
  }
}
.new-card div p {
  margin: 0px;
}

@media(max-width:1064px) {
  .new-card div {padding-right: 10px;}
}

@media(max-width:768px) {
  .new-card div p {margin: 0px;}
  .new-card {width: 100%!important;margin-bottom: 15px; padding-right: 10px;}
  .slack-card {margin-left: 0%!important;}
  .mail-card {margin-right: 0%!important;} 
}
.mail-card{
  margin-right: calc(15% + 15px);
}
.slack-card{
  margin-left: calc(15% + 15px);
}
.new-card .new-card-title {
  font-weight: 400;
  position: relative;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #5aa5ff;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.new-card .new-card-text {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.6px;
  color: #3c3c3c;
}
.new-card i {
  height: 33px;
  position: absolute;
  top: 12px;
  padding-left: 6px;
  font-size: 13px;
}
.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.valign-wrapper .valign {
  display: block;
}
.card-section {
  margin-top: 30px;
  margin-bottom: 30px;
  height: auto;
  background-color: white;
  width: 100%!important;
}
