/* Bootstrap Overrides */
a {
  color: #1F8DED;
  text-decoration: none!important;
}
.tbody.collapse.in {
  color: #8f8f8f;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #2D3F49;
}
.table > thead > tr > th {
  border-bottom: 2px solid #D4E1E6;
}
html, body, #container, .thirdPage {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  max-width: 100%;
}
/*General*/
.no-padding {
  padding: 0 !important;
}

/* Footer */

.footer {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #eaebec;
  color: #828282;
  font-weight: 500;
  margin: auto;
  max-width: 500px;
  margin-top: 50px;
}
.footer-mail {
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  color: #424242;
  font-weight: 500;
}

/*clients logos*/
.client-section {
  background: #fafafa;
  color: #424242;
  padding-top: 58px !important; padding-bottom: 56px !important;
  margin: auto;
}
.client-section > .container {
  max-width: 1080px;
}
.text-container {
  margin-top: 26px;
}
.raised-container {
  margin-top: 25px;
}
.clients-title {
  line-height: 1em;
  margin: 0 0 20px;
  font-size: 2.5em;
  font-family: 'Roboto Mono', monospace;
  color: #1a1a1a;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0px;
}
.clients-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  line-height: 1.44;
  letter-spacing: 0.6px;
  color: #1a1a1a;
  font-weight: 300;
}
.clients-img-container {
  text-align: right;
  display: inherit!important;
}
.clients-mobile-container {
  display: none!important;
}
.clients-img {
  margin: 10px;
  width: 170px;
  height: 50px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.mobile-img {
  height: 50px;
  width: 120px;
  margin: 5px 5px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.augur {
  background-image: url("../img/logos/augur.png");
}
.omise {
  background-image: url("../img/logos/omisego.svg");
  position: relative;
  top: 3px;
  left: 8px;
}
.aragon {
  background-image: url("../img/logos/Aragon.png");
}
.storj  {
  background-image: url("../img/logos/storj.png");
}
.civic {
  background-image: url("../img/logos/civic.png");
}
.tierion {
  background-image: url("../img/logos/tierion.png");
}

.clients-img.augur {
  position: relative;
  top: 4px;
}
.clients-img.omise {
  height: 42px;
}
.clients-img.civic {
  height: 40px;
}
.clients-img.tierion {
  position: relative;
  top: -6px;
  height: 32px;
}

/*Navbar*/
nav {
  background: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
.chat-circle {
  content: '';
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #93CC93;
  margin-left: 4px;
}
@media (max-width: 960px) and (min-width: 767px) {
  .nav>li>a {
    padding: 10px 4px;
  }
}
.navbar-header .navbar-brand {
  display: flex; 
  align-items: center;
}
.navbar-header .navbar-brand img {
  height: 2.5rem;
}
nav, nav .container-fluid, nav .container-fluid a {
  height: 60px;
}
nav .container-fluid a {
  display: flex; 
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400!important;
  color: #1a1a1a;
}
@media(max-width:768px) {
  .navbar-collapse {
    background: white;
    width: 100%;
  }
  .navbar-collapse a {
    height: 45px !important;
  }
  .chat-circle {
    position: absolute;
    top: 19px;
    left: 47px;
  }
  .navbar-header .navbar-brand img {
    height: 2rem;
  }
}



@media (min-width: 768px) and (max-width: 991px) { /*Para monitores sm*/
  .text-container {
    text-align: center!important;
  }
  .clients-img-container {
    text-align: center!important;
  }
  .clients-text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) { /*Para monitores xs*/
  .text-container {
    text-align: center!important;
  }
  .clients-img-container {
	  display: none!important;
	}
	.clients-mobile-container {
	  text-align: center;
	  display: inherit!important;
	}
  .clients-text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: 18px!important;
  }
  .clients-title {
		margin: 0 0 20px;
    font-size: 25px;
	}
  .zeppelin-solutions {margin-top: 20px;}
  .client-width {max-width:350px!important; margin:auto;}
}


/*intro header*/
.intro {
  width: 100%;
  padding-top: 70px;
  height: auto;
  text-align: center;
  background: #fafafa;
  position: relative;
  padding-bottom: 30px;
  overflow: hidden;
}

.brand-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 2.25em;
  font-weight: 500;
  letter-spacing: 0.7px;
  margin-top: 4rem;
  color: #1a1a1a;
}
.intro .subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  color: #1a1a1a;
  margin: auto;
  margin-bottom: 3rem;
  max-width: 90%;
}

@media (min-width: 768px) { /*Para monitores sm md y lg*/
  .brand-heading {
    margin-bottom: 2rem!important;
    font-size: 30px!important;
  }
  .intro-text {font-size: 18px!important;}
}

@media (max-width: 768px) {
  .intro .subtitle {
    max-width: 100%;
  }
}

/*buttons*/
.buttons-div {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fill-button {
  min-width: 196px;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 1em;
  font-weight: bold;
  background: #5aa5ff;
  border: solid 1.5px #5aa5ff;
  color: white;
  padding: 1rem 3rem;
  margin: 0 10px;
  box-shadow: 0 2px 8px rgba(50, 50, 93, .1), 0 2px 4px rgba(0, 0, 0, .07);
}

.fill-button:hover {
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 1em;
  font-weight: bold;
  border: solid 1.5px #166ed8;
  background: #166ed8;
  color: white;
  padding: 1rem 3rem;
  margin: 0 10px;
}

.fill-button:active, .fill-button:focus {
  color: white !important;
  outline: none!important;
  border: solid 1.5px #166ed8;
  background: #166ed8;
}

.empty-button {
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 1em;
  font-weight: bold;
  border: solid 1.5px #5aa5ff;
  color: #5aa5ff;
  padding: 1rem 2rem;
  margin: 0 10px;
  box-shadow: 0 2px 8px rgba(50, 50, 93, .1), 0 2px 4px rgba(0, 0, 0, .07);
}

.empty-button:hover {
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 1em;
  font-weight: bold;
  border: solid 1.5px #166ed8;
  color: #166ed8;
  padding: 1rem 2rem;
  margin: 0 10px;
}
@media (max-width: 767px) {
  .buttons-div { flex-direction: column; }
  .fill-button, .empty-button {margin: 10px 0;}
}

/*prefooter*/
.pre-footer .content-section {
  background-color: #1a1a1a;
  color: #fff;
  padding-top: 5rem !important;
  padding-bottom: 6rem;
}
.pre-footer p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  line-height: 1.4em;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  color: white;
  margin: auto;
  margin-bottom: 1.5rem;
  max-width: 90%;
}

/*footer*/
footer {
  font-family: 'Roboto', sans-serif;
  background-color: #1a1a1a;
  padding: 2rem 0 !important;
  color: white;
  font-size: 1em;
  font-weight: 400;
  padding: 28px 20px 25px 20px;
  margin: auto;
  border-top: solid 1px #ffffff60;
}

footer a {
  margin: 25px 25px;
  color: #ffffff;
  opacity: 0.5;
  margin-right: 15px!important;
  margin-left: 0px!important;
  font-weight: 400;
  letter-spacing: 0.5px;
}

footer a:hover {
  color: white;
  opacity: 0.9;
}

@media(max-width:660px) {
  .license-li {
    display: block;
    border-right: 2px solid #ffffff;
    margin:0px;
    margin-bottom: 10px;
    opacity: 0.6;
  }
  .license-li a {
    margin: 0px!important;
  }
  footer a, .bottom-li {
    font-size: 12px;
    margin: 0 !important;
  }
  
  footer ul {
    padding: 0px!important;
  }
}

footer li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  border-right: 2px solid #ffffff40;
  height: 20px;
  line-height: 20px;
}
.bottom-li {
  border-right: solid 0px transparent; 
}

/*about*/
#about {
  padding: 0 0 100px 0;
  width: calc(100% - 30px);
}

#about h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  color: #1a1a1a;
  max-width: 639px;
  margin: auto;
  margin-bottom: 3rem;
}

#about h3 {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.25em;
  font-weight: 500;
  letter-spacing: 1px;
  color: #1a1a1a;
  text-transform: uppercase;
  margin: 2.5rem 0 1rem;
}

#about h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0.6px;
  color: #1a1a1a;
  min-height: 37px;
  margin-bottom: 1.5rem;
}

#about a {
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #5aa5ff;
  text-transform: uppercase;
}
#about a:hover, #about a:focus, #about a:active {
  outline: none;
  color: #166ed8;
}

@media(max-width:768px) {
  #about .feature-card {
    text-align:center;
    padding: 0 !important;
  }
  #about .feature-card .box {
    margin-bottom: 80px !important;
  }
}

#about .feature-card .box{
  max-width: 333px;
  margin: auto;
}

#about img {
  max-height: 40px;
}

/*Logos section*/
.logos-section {
  background-color: #fafafa;
  color: #424242;
  padding-top: 1rem !important;
  padding-bottom: 20px;
}
.logos-section .title-box {
  padding-top: 30px;
  border-top: solid 0.5px #cecece;
}
.logos-section .title-box h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: 0.7px;
  text-align: center;
  color: #979797;
  margin-top: 0rem;
  margin-bottom: 3rem;
}

.logos-projects {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logos-projects img{
  height: 75px;
  width: auto!important;
}

@media (max-width: 767px) {
  .logos-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}