/* Bootstrap Overrides */
a {
  color: #1F8DED;
}
.btn-primary {
  background-color: #1F8DED;
  border-color: #1271C4;
  padding-right: 15px;
  padding-left: 15px;
}
.btn-primary:focus,
.btn-primary:hover {
  background-color: #1271C4;
}
.btn-primary:active {
  background-color: #1F8DED;
}
.btn-primary:active:focus {
  background-color: #1271C4;
}
.tbody.collapse.in {
  color: #8f8f8f;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #2D3F49;
}
.navbar-default .navbar-nav > li > a {
  font-weight: 400;
}
.table > thead > tr > th {
  border-bottom: 2px solid #D4E1E6;
}

html, body, #container, .thirdPage {
  font-family: 'Lato', Lucida Grande;
  font-weight: 300;
  max-width: 100%;
}

a:hover {
  text-decoration: none;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

/* Footer */

.footer {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #eaebec;
  color: #828282;
  font-weight: 500;
  margin: auto;
  max-width: 500px;
  margin-top: 50px;
}
.footer-mail {
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  color: #424242;
  font-weight: 500;
}

/*Services items*/

div.row.services-items div {
  text-align: left;
}

/*Navbar*/

.chat-circle {
  content: '';
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #93CC93;
  margin-left: 4px;
}

.nav-li-hidden {
  height: 0px!important;
  width: 0px!important;
  transition: height 1s;
  transition: width 1s;
  -webkit-transition: height 0s; /* Safari */
  -webkit-transition: width 0s; /* Safari */

}
.nav-li-shown {
  height: 61px!important;
  width: 164px!important;
  transition: height 1s;
  transition: width 1s;
  -webkit-transition: height 0s; /* Safari */
  -webkit-transition: width 0s; /* Safari */

}
.nav-btn-li-shown {
  padding-top: 13px!important;
}
.nav-btn-info {
  background-color: #5cb6e4;
  border: none;
  border-radius: 4px;
  position: relative;
  color: white!important;
  padding: 6px 25px;
  font-size: 14px;
  height: 32px;
}
.nav-btn-info:hover {
  background-color: #008cdd;
}
@media (max-width: 960px) and (min-width: 767px) {
  .nav>li>a {
    padding: 10px 4px;
  }
}

/*NPM INSTALL SIGN*/
.npm-install {
  font-size: 12px;
  font-family: Menlo, Monaco, Lucida Console;
  line-height: 20px;
  margin: 0;
  white-space: pre-wrap;
  color: white;
  text-align: left;
  background-color: black;
  border-radius:5px;
  width: 448px;
  margin: auto;
  padding: 8px;
}

/*TERMINAL*/
.terminal-title {
  color: black;
  font-size: 12px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
  text-align: center;
}
.terminal-section {
  margin-bottom: 30px;
  position: relative;
  height: 400px;
  background: linear-gradient(to bottom, #FAFAFA 0%,#FAFAFA 65%, #fff 65%,#fff 102%)!important;
}
.expanded-terminal-section {
  margin-bottom: 30px;
  position: relative;
  height: 400px;
  background: linear-gradient(to bottom, #FAFAFA 0%,#FAFAFA 65%, #fff 65%,#fff 102%)!important;
}
.terminal {
  border: 0px solid #4a4a4a;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 448px;
  height: 340px;
  position: relative;
  background: black;
  margin: auto;
  position: absolute;
  top: 0px;
}
.mobile-br {
  display: none;
}

@media (max-width: 960px) {
  .terminal-center {
    transition: top .40s;
    -webkit-transition: top .40s;
  }
  .terminal-left {
  }
  .terminal-right {
    top: 360px!important;
    transition: top .40s!important;
    -webkit-transition: top .40s!important;
  }
  .terminal-section {height: 400px;}
  .expanded-terminal-section {height: 740px!important;}
}
@media (min-width: 768px) and (max-width: 991px) { /*Para monitores sm*/
  #terminal {
    z-index: 30;
    top: 0px;
    left: calc(50% - 224px);
  }
  #terminal2 {
    z-index: 1;
    top: 0px;
    left: calc(50% - 224px);
  }
}
@media (max-width: 767px) { /*Para monitores xs*/
  .mobile-br {
    display: inline;
  }
  .desktop-br {
    display: none;
  }
  #terminal {
    z-index: 30;
    top: 0px;
    left: calc(50% - 150px);
  }
  #terminal2 {
    z-index: 1;
    top: 0px;
    left: calc(50% - 150px);
  }
}

@media (min-width: 960px) {
  #terminal {
    z-index: 30;
    left: calc(50% - 225px);

  }
  #terminal2 {
    z-index: 1;
    right: calc(50% - 480px)!important;
    opacity: 0;
    -webkit-transition: opacity .40s ease-in!important;
    transition: opacity .40s ease-in!important;
  }
  .terminal-center {
    transition: left .40s;
    -webkit-transition: left .40s;
    transition: right .40s;
    -webkit-transition: right .40s;
  }
  .terminal-left {
    left: calc(50% - 480px)!important;
    transition: left .40s!important;
    -webkit-transition: left .40s!important;
  }
  .terminal-right {
    opacity: 1!important;
    transition: right .40s!important;
    -webkit-transition: right .40s!important;
  }

}
.top-terminal {
  z-index: 2;
  width: calc(100% + 2px);
  height: 29px;
  position: absolute;
  top: -2px;
  left: -1px;
  background: #f6f6f6;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: solid 0px transparent;
  border-right: solid 1px white;
  border-left: solid 1px white;
  text-align: left;
  padding-left: 7px;
}
.terminal-control {
  content: '';
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 100%;
  margin-left: 5px;
  margin-top: 9px;
}
.red {
  background-color: #ef3d33;
}
.yellow {
  background-color: #f5b50d;
}
.green {
  background-color: #3ccc02;
}
.bottom-terminal {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  overflow: auto;
}
.vim-bottom-terminal {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.centered {
  text-align: center;
}
.wrap{
  width: 100%;
  text-align: left;
}
#typed {
  background-color: black;
  text-align: left!important;
}
.type-wrap{
  background-color: black;
  font-size: 12px;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  line-height: 20px;
  margin: 0;
  font-weight: 100;
  white-space: nowrap;
  color: white;
  text-align: left;
  margin-left: 13px;
  padding-top: 20px;
}
.terminal-padding{
  margin-left: 2px;
  padding-left: 2px;
}
.terminal-padding2{
  margin-left: 4px;
  padding-left: 4px;
}
.typed-cursor{
  opacity: 1;
  color: #A5DEF2;
  font-weight: bold!important;
}

.valign-wrapper-logo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.valign-wrapper-logo .valign {
  display: block;
}

@media (max-width: 767px) { /*Para monitores xs*/
  .terminal {width: 300px!important;}
  .npm-install {width: 300px!important;}
  .vim-bottom-terminal {
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
  .brand-heading {font-size: 30px!important;}
  .intro-text {font-size: 17px!important;}
  #customers h2 {font-size: 22px;}
  footer p {font-size: 12px;}
  .footer-col {text-align: center;}
  ul.nav.navbar-nav li a {font-size: 20px;}
  .logoRuns {height: 80px!important;}
  .valign-wrapper-logo {display: inline!important;}
  .chat-circle {
    position: absolute;
    top: 27px;
  }
}

/*zeppelin runs on*/
.runs-margin {
  margin-bottom: 20px;
}

/*clients logos*/
.client-section {
  margin: auto;
}
.client-section > .container {
  max-width: 1080px;
}
.text-container {
  margin-top: 26px;
}
.raised-container {
  margin-top: 25px;
}
.clients-title {
  font-family: "Helvetica Neue",Lato,Helvetica,Arial,sans-serif;
  color: rgb(66, 66, 66)!important;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: 1px;
  margin: 0 0 10px;
  font-size: 35px;
}
.clients-text {
  font-family: "Helvetica Neue",Lato,Helvetica,Arial,sans-serif;
  letter-spacing: 0.04em;
  color: #6f7c82;
  font-size: 20px!important;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6;
}
.clients-img-container {
  text-align: right;
  display: inherit!important;
}
.clients-mobile-container {
  display: none!important;
}
.clients-img {
  margin: 10px;
  width: 170px;
  height: 50px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.mobile-img {
  height: 50px;
  width: 120px;
  margin: 5px 5px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.augur {
  background-image: url("/img/logos/augur.png");
}
.omise {
  background-image: url("/img/logos/omisego.svg");
  position: relative;
  top: 3px;
  left: 8px;
}
.aragon {
  background-image: url("/img/logos/Aragon.png");
}
.storj  {
  background-image: url("/img/logos/storj.png");
}
.civic {
  background-image: url("/img/logos/civic.png");
}
.tierion {
  background-image: url("/img/logos/tierion.png");
}

.clients-img.augur {
  position: relative;
  top: 4px;
}
.clients-img.omise {
  height: 42px;
}
.clients-img.civic {
  height: 40px;
}
.clients-img.tierion {
  position: relative;
  top: -6px;
  height: 32px;
}

.the-navbar {
    width: 80%;
    margin-left: 10%;
}

.navbar-header .navbar-brand img {
  height: 30px;
  margin-top: 8px;
  margin-left: 5px;
}

@media (min-width: 768px) and (max-width: 991px) { /*Para monitores sm*/
  .text-container {
    text-align: center!important;
  }
  .clients-img-container {
    text-align: center!important;
  }
  .clients-text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .navbar-header .navbar-brand img {
    height: 30px;
    margin-top: 8px;
  }
}

@media (max-width: 767px) { /*Para monitores xs*/
  .text-container {
    text-align: center!important;
  }
  .clients-img-container {
	  display: none!important;
	}
	.clients-mobile-container {
	  text-align: center;
	  display: inherit!important;
	}
  .clients-text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: 18px!important;
  }
  .clients-title {
		margin: 0 0 20px;
    font-size: 25px;
	}
  .zeppelin-solutions {margin-top: 20px;}
  .client-width {max-width:350px!important; margin:auto;}

  .navbar-header .navbar-brand img {
    margin-top: 10px;
    margin-left: 6px;
    height: 25px;
  }
}

@media (min-width: 768px) { /*Para monitores sm md y lg*/
  .brand-heading {
    font-size: 38px!important;
    margin-bottom: 30px!important;
  }
  .intro-text {font-size: 18px!important;}
}

.navbar-header .navbar-brand {
  padding: 3px;
}

.navbar-toggle {
  margin-right: 28px;
}

#tagline {
    margin-left: 0;
    margin-right: 0;
}

